@using EventManager.Constants
@using Resources
@model EventManager.ViewModels.EventViewModel

@{
    ViewBag.Title = ActionNames.EditEvent;
    ViewBag.Action = ActionNames.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_EventForm", Model)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
